.photo {
  img {
    object-fit: cover;
    width: 400px;
    height: 400px;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .photo {
    img {
      height: 300px;
      width: 300px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .photo {
    img {
      height: 500px;
      width: 500px;
    }
  }
}