@import './../../../styles/settings.scss';

.image {
  object-fit: scale-down;
}
.images {
  border: 1px solid black;
  cursor: pointer;
}

.product_body {
  position: relative;
  background-color: $color-one;
  border-radius: 10%;
}

.price {
  text-align: center;
}

.price_inner {
  font-size: 45px;
  font-weight: 700;
}

.content {
  font-size: 20px;
}

.button {
  margin-top: 330px;
  margin-right: 20px;
  input {
    padding-bottom: 5px;
    margin-right: 10px;
    width: 50px;
  }
}

.active {
  border-color: $color-three;
  cursor: default;
}